.App {
    text-align: center;
  }
  
.background {
    background-color: rgba(235, 255, 255, 1);
   
    min-height: 790px; 
}


.home { 
    text-align: center;
    position: relative;
    top: 50px;
    overflow: hidden;
    max-height: 750px;
    height: 750px;
}

.home h1 {
    font-size: 44px;
}
.home h2 {
    font-size: 38px;
}

.imagesPage {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;  
}

.image{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 6px;
    margin: 3px;
    padding: 4px;
}

.image button {
    float: right;
    margin: 4px;
    padding: 4px;
}

.imagetext {
    max-width: 250px;
    overflow-x: auto;
}